<div class="pacientes-list-container m-3">
  <label class="page-title">
      Listado de pacientes
  </label>

  <hr>

  <div class="pacientes-botonera">
    <div>
      <button mat-raised-button class="m-2">
        Alguna opción
      </button>
      <button mat-raised-button color="primary" class="m-2">
        Agregar paciente
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

          <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> Documento </th>
            <td mat-cell *matCellDef="let element"> {{element.Documento}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.Nombres}} </td>
          </ng-container>

          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.Apellidos}} </td>
          </ng-container>

          <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let element"> {{element.Sexo}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.FechaNacimiento}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>
      </div>
    </div>
  </div>

</div>
