<div class="side-menu-container">
  <div class="w-100">
    <label class="side-menu-title m-3">
      Acciones
    </label>
  </div>


  <mat-selection-list #shoes [multiple]="false">
    <mat-list-option [routerLink]="['/pacientes']">
      Pacientes
    </mat-list-option>
    <mat-list-option >
      Vacunas
    </mat-list-option>
    <mat-list-option >
      Matriz
    </mat-list-option>
    <mat-list-option >
      Cositas...
    </mat-list-option>
  </mat-selection-list>
</div>
